---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <script is:inline src="/js/htmx.js"></script>
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body class="hx-boost">
    <slot />
  </body>
</html>
